extends layout/layout

block css
    link(rel="stylesheet", href="/css/article.css")

block main
    main.col-lg-9.main-content
        article.articleList.articleCon
            .articleTitle.mb10
                p
                    a.classify(href='#')= article.tag[0]
                    a.artTitle(href='javascript:void(0)',data-artid= article._id)= article.title
            p.authSpan
                span.muted
                    i.fa.fa-user
                    = article.author.username
                span.muted
                    i.fa.fa-clock-o
                    = article.created.toLocaleString()
                span.muted
                    i.fa.fa-eye
                    |  阅读(#{article.read})
                span.muted.articlepl
                    i.fa.fa-commenting
                    a(href='#comment') 评论(#{article.comment})
                span.muted.dz
                    i.fa.fa-thumbs-up
                    | 点赞(#{article.praise})
            .articleAbstract.mt40.mb40
                .editormd-preview.editormd-preview-theme-default
                      .markdown-body.editormd-preview-container
                          != article.content.html
                p.text-center.dianzan.mt50
                      span
                          i.fa.fa-thumbs-up.fa-2x
                          |   赞
        #comment.publish
            h4.feedbackTitle.mb20 发表评论
            #Editor
                span.default 简单点,评论的方式简单点...
            p.text-right.mt10
                button.btn.btn-info.submit(type='button') 发  送
        .commentList.mt20.pt20
            h4.feedbackTitle.mb20 评论列表
            .commentCon(style='text-align:initial')
                ul.blog-comment
                    each item in comment
                        li
                            .commentParent
                                .info
                                    span.username
                                        img.userIco(src= item.author.avatar, align='center')
                                        = item.author.username
                                .commentText
                                    != item.content.html
                                p.info.info-footer.text-right.mb5
                                    span.time= item.created.toLocaleString()
                                    a.btn-reply(href='javascript:;') 回复
                                .commentChild
                                    .info
                                        span.username.pr10
                                            img.userIco(src='/images/timthumb.jpg')
                                            | 艾琳·艾德勒
                                        span.hf 回复:
                                        span 我就知道你动心了
                                    p.info.info-footer.text-right
                                        span.time 2017-04-18 18:26
                                .commentChild
                                    .info
                                        span.username.pr10
                                            img.userIco(src='/images/timthumb.jpg')
                                            | 艾琳·艾德勒
                                        span.hf 回复:
                                        span 我就知道你动心了
                                    p.info.info-footer.text-right
                                        span.time 2017-04-18 18:26
                    //li
                    //    .commentParent
                    //        .info
                    //            span.username
                    //                img.userIco(src='/images/timthumb.jpg', align='center')
                    //                | 夏洛克·福尔摩斯
                    //        .commentText
                    //            | 整条街的智商都被你拉低了
                    //        p.info.info-footer.text-right.mb5
                    //            span.time 2017-04-18 18:09
                    //            a.btn-reply(href='javascript:;') 回复
                    //        .commentChild.pb5
                    //            .info
                    //                span.username.pr10
                    //                    img.userIco(src='/images/timthumb.jpg')
                    //                    | 艾琳·艾德勒
                    //                span.hf 回复:
                    //                span 我就知道你动心了
                    //            p.info.info-footer.text-right
                    //                span.time 2017-04-18 18:26
                    //        .commentChild.pb5
                    //            .info
                    //                span.username.pr10
                    //                    img.userIco(src='/images/timthumb.jpg')
                    //                    | 艾琳·艾德勒
                    //                span.hf 回复:
                    //                span 我就知道你动心了
                    //            p.info.info-footer.text-right
                    //                span.time 2017-04-18 18:26
block script
    script(type='text/javascript', src='/plugins/wangEditor/release/wangEditor.min.js')
    script(type='text/javascript', src='/js/article.js')

