extends layout/layout

block css
    link(rel="stylesheet", href="/css/index.css")

block main
    main.col-lg-9.main-content
        each item in artList
            article.articleList
                .row
                    .articleTitle.mb10
                        p
                            a.classify(href="#")= item.tag[0]
                            a.title(href=`/article/${item._id}`)= item.title
                    |
                .row
                    .col-lg-3.articleThumbnail
                        a(href=`/article/${item._id}`)
                            img(src= item.author.avatar)
                    |
                    .col-lg-9.articleAbstract
                        p
                            span.abstract 摘要:
                            = item.content.text.slice(0,130) + "..."
                            a.ydqw.pl5(href=`/article/${item._id}`) 阅读全文
                    |
                    p.authSpan
                        span.muted
                            i.fa.fa-user
                            = item.author.username
                        |
                        span.muted
                            i.fa.fa-clock-o
                            = item.created.toLocaleString()
                        |
                        span.muted
                            i.fa.fa-eye
                            |  阅读( #{item.read} )
                        |
                        span.muted.articlepl
                            i.fa.fa-commenting
                            a(href=`/article/${item._id}#comment`) 评论( #{item.comment} )
                        |
                        span.muted.dz
                            i.fa.fa-thumbs-up
                            | 点赞(#{item.praise})

        #laypage.mt50(data-maxnum= maxNum)
